{% extends "auctions/layout.html" %}

{% load static %}

{% block style %}
  <link href="{% static 'auctions/activelistings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h2>Active Listings</h2>
    <div class="fc">
      {% for listing, short_description in combined_list %}
      {% if listing not in notactive %}
        <a href="{% url 'listings' listing.id %}">
          <div class="listing">
            <h4>{{ listing.title }}</h4>
            <img src={{ listing.imageurl }} alt="">
            <h4>${{ listing.price }}</h4>
            <p>{{ short_description }}</p>
          </div>
        </a>
      {% endif %}
      {% if listing in notactive %}
        {% if listing.name.username == request.user.username %}
          <a href="{% url 'listings' listing.id %}">
            <div class="listing">
              <h4>{{ listing.title }}</h4>
              <img src={{ listing.imageurl }} alt="">
              <h4>${{ listing.price }}</h4>
              <p> {{ short_description }}</p>
            </div>
          </a>
        {% endif %}
        {% if listing in wonlist %}
        <a href="{% url 'listings' listing.id %}">
          <div class="listing">
            <h4>{{ listing.title }}</h4>
            <img src={{ listing.imageurl }} alt="">
            <h4>${{ listing.price }}</h4>
            <p>{{ short_description }}</p>
          </div>
        </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
