{% extends "auctions/layout.html" %}

{% load static %}

{% block style %}
  <link href="{% static 'auctions/listings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="entirelisting">
  <div class="lhalf">
    <div class="item">
      <h2>{{ listing.title }}</h2>
      <div class="cat1">
        <p>Category: <span>{{ listing.category }}</span></p>
      </div>
      <img src= {{ listing.imageurl }} alt="">
      <div class="price">
        <h2>$99</h2>
      </div>
      <p class="description">
        {{ listing.description }}
      </p>
      <div class="user">
        <p>Posted by: <span>{{ username }}</span></p>
      </div>
      <div class="bid">
        <h3>Current Bidding at:</h3>
        <span>No one has bidded yet</span>
      </div>
      <div class="do_the_bid">
        <form class="">
          {% csrf_token %}
          <label for="bid"><h3>Bid Amount</h3></label>
          <input type="text" name="bid" value="" id="bid" placeholder="Enter bidding amount here">
          <input type="submit" name="" value="Bid (click me)" id="bid_button">
        </form>
      </div>
    </div>
  </div>
  <div class="rhalf">
    <div class="commentheader">
      <span>Post your comments</span>
    </div>
    <div class="commentsection">

    </div>
    <div class="commententry">
      <input type="text" name="comment" value="" placeholder="Enter your comment here">
    </div>
  </div>
</div>
{% endblock %}
