{% extends "auctions/layout.html" %}

{% load static %}

{% block style %}
  <link href="{% static 'auctions/listings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="entirelisting">
  <div class="lhalf">
    <div class="item">
      <h2>{{ listing.title }}</h2>
      <div class="cat1">
        <p>Category: <span>{{ listing.category }}</span></p>
      </div>
      <img src= {{ listing.imageurl }} alt="">
      <div class="price">
        <h2>{{ listing.price }}</h2>
      </div>
      <p class="description">
        {{ listing.description }}
      </p>
      <div class="user">
        <p>Posted by: <span>{{ username }}</span></p>
      </div>
      <div class="bid">
        <h3>Current Bidding at:</h3>
        {% if check == "true" %}
        {{bid_success.name.username}} bidded {{bid_success.bid_amount}}
        {% else %}
        <span>No one has bidded yet</span>
        {% endif %}
      </div>
      {% if username != request.user.username %}
      <div class="do_the_bid">
        <form action="{% url 'addmybid' listing.id %}" method="post">
          {% if message %}
          <h4 style="color: red;">{{message}}</h4>
          {% endif %}
          {% if message1 %}
          <h4 style="color: #d4edda">{{ message1 }}</h4>
          {% endif %}
          {% csrf_token %}
          <label for="bid"><h3>Bid Amount</h3></label>
          <input type="text" name="bid" id="bid" placeholder="Enter bidding amount here">
          <input type="submit" name="" value="Bid (click me)" id="bid_button">
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="rhalf">
    {% if username != request.user.username %}
      <div class="watchlsit">
        <a href="{% url 'watchlist_id' listing.id %}">Add to my Watchlist</a>
      </div>
    {% endif %}
    <div class="commentheader">
      <span>Post your comments</span>
    </div>
    <div class="commentsection">
      {% for comment in comments %}
        <div class="addthecomment">
          <h5>{{comment.name.username}}</h5>
          <p>{{comment.content}}</p>
        </div>
      {% endfor %}
    </div>
    <div class="commententry">
      <form action="{% url 'addcomment' listing.id %}" method="post">
        {% csrf_token %}
        <textarea name="comment" value="" placeholder="Enter your comment here" rows="3"></textarea>
        <input type="submit" name="" value="Submit" class="commentsubmit">
      </form>
    </div>
  </div>
</div>
{% endblock %}
